<div class="full_box">
    <div class="content_box">
        <div class="video_box">
            <iframe class="responsive_iframe" src="https://www.youtube.com/embed/hTt8YU12MN4"
                title="ขั้นตอนการดูประวัติการวิดีโอคอล | หมอดูพรหมญาณ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="image_box">
            <img src="https://promayarn.digitalwealth.dev/manualFile/001.jpg" alt="">
        </div>
    </div>
</div>