/* You can add global styles to this file, and also import other style files */
.bgcUserManual {
    // background: rgb(255, 251, 194);
    // background: linear-gradient(195deg, rgba(255, 251, 194, 1) 0%, rgba(208, 175, 109, 1) 100%);

    // background: rgb(2,0,36);
    // background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(7,7,133,1) 20%, rgba(0,164,255,1) 100%);
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(52, 52, 170) 20%, rgba(0, 164, 255, 1) 100%);
}

.full_box {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 10px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.box_img_head {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    .img {
        width: 200px;
        height: 200px;
    }
}

.content_list {
    .list_manual {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        min-width: 200px;

        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.fonttitle {
    font-size: 24px;
    color: #ffffff;
}

.video_box {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

.image_box {
    margin-top: 10px;

    img {
        width: 100%;
        height: auto;
    }
}

.responsive_iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.content_box_main {
    background-color: #ffffff4d;
    border-radius: 15px;
    padding: 25px 20px;
}


.content_box {
    // background-color: #3c69c462;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
}

@media only screen and (max-width: 701px) {
    .content_box {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 700px) {
    .content_box {
        width: 80%;
        max-width: 700px;
    }
}