<div class="full_box bgcUserManual">
    <div class="box_img_head mt-3">
        <img class="img" src="https://promayarn.digitalwealth.dev/manualFile/500-500.png" alt="">
    </div>
    <div class="fonttitle">คู่มือสำหรับแอปพลิเคชัน</div>
    <div class="fonttitle">พรหมญาณพยากรณ์</div>
    <div class="content_box_main mt-3">
        <div class="content_list">
            <div class="list_manual">
                <a routerLink="/UserManual/UserManual01">
                    <div class="flexRow">
                        <div class="me-2"><i class="fa-solid fa-hand-point-right"></i></div>
                        <div class="">manual1</div>
                    </div>
                </a>
            </div>
            <div class="list_manual">
                <a routerLink="/UserManual/UserManual02">
                    <div class="flexRow">
                        <div class="me-2"><i class="fa-solid fa-hand-point-right"></i></div>
                        <div class="">manual2</div>
                    </div>
                </a>
            </div>
            <div class="list_manual">
                <a routerLink="/UserManual/UserManual03">
                    <div class="flexRow">
                        <div class="me-2"><i class="fa-solid fa-hand-point-right"></i></div>
                        <div class="">manual3</div>
                    </div>
                </a>
            </div>
            <div class="list_manual">
                <a routerLink="/UserManual/UserManual04">
                    <div class="flexRow">
                        <div class="me-2"><i class="fa-solid fa-hand-point-right"></i></div>
                        <div class="">manual4</div>
                    </div>
                </a>
            </div>
            <div class="list_manual">
                <a routerLink="/UserManual/UserManual05">
                    <div class="flexRow">
                        <div class="me-2"><i class="fa-solid fa-hand-point-right"></i></div>
                        <div class="">manual5</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>